=begin
#ActivitySmith API

#Send push notifications and Live Activities to your own devices via a single API key.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenapiClient
  class LiveActivitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # End a Live Activity
    # Ends a Live Activity and archives its lifecycle.
    # @param live_activity_end_request [LiveActivityEndRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LiveActivityEndResponse]
    def end_live_activity(live_activity_end_request, opts = {})
      data, _status_code, _headers = end_live_activity_with_http_info(live_activity_end_request, opts)
      data
    end

    # End a Live Activity
    # Ends a Live Activity and archives its lifecycle.
    # @param live_activity_end_request [LiveActivityEndRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LiveActivityEndResponse, Integer, Hash)>] LiveActivityEndResponse data, response status code and response headers
    def end_live_activity_with_http_info(live_activity_end_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveActivitiesApi.end_live_activity ...'
      end
      # verify the required parameter 'live_activity_end_request' is set
      if @api_client.config.client_side_validation && live_activity_end_request.nil?
        fail ArgumentError, "Missing the required parameter 'live_activity_end_request' when calling LiveActivitiesApi.end_live_activity"
      end
      # resource path
      local_var_path = '/live-activity/end'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(live_activity_end_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LiveActivityEndResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"LiveActivitiesApi.end_live_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveActivitiesApi#end_live_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a Live Activity
    # Starts a Live Activity on devices matched by API key scope and optional target channels.
    # @param live_activity_start_request [LiveActivityStartRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LiveActivityStartResponse]
    def start_live_activity(live_activity_start_request, opts = {})
      data, _status_code, _headers = start_live_activity_with_http_info(live_activity_start_request, opts)
      data
    end

    # Start a Live Activity
    # Starts a Live Activity on devices matched by API key scope and optional target channels.
    # @param live_activity_start_request [LiveActivityStartRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LiveActivityStartResponse, Integer, Hash)>] LiveActivityStartResponse data, response status code and response headers
    def start_live_activity_with_http_info(live_activity_start_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveActivitiesApi.start_live_activity ...'
      end
      # verify the required parameter 'live_activity_start_request' is set
      if @api_client.config.client_side_validation && live_activity_start_request.nil?
        fail ArgumentError, "Missing the required parameter 'live_activity_start_request' when calling LiveActivitiesApi.start_live_activity"
      end
      # resource path
      local_var_path = '/live-activity/start'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(live_activity_start_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LiveActivityStartResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"LiveActivitiesApi.start_live_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveActivitiesApi#start_live_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Live Activity
    # Updates an existing Live Activity. If the per-activity token is not registered yet, the update is queued.
    # @param live_activity_update_request [LiveActivityUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LiveActivityUpdateResponse]
    def update_live_activity(live_activity_update_request, opts = {})
      data, _status_code, _headers = update_live_activity_with_http_info(live_activity_update_request, opts)
      data
    end

    # Update a Live Activity
    # Updates an existing Live Activity. If the per-activity token is not registered yet, the update is queued.
    # @param live_activity_update_request [LiveActivityUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LiveActivityUpdateResponse, Integer, Hash)>] LiveActivityUpdateResponse data, response status code and response headers
    def update_live_activity_with_http_info(live_activity_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LiveActivitiesApi.update_live_activity ...'
      end
      # verify the required parameter 'live_activity_update_request' is set
      if @api_client.config.client_side_validation && live_activity_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'live_activity_update_request' when calling LiveActivitiesApi.update_live_activity"
      end
      # resource path
      local_var_path = '/live-activity/update'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(live_activity_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LiveActivityUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"LiveActivitiesApi.update_live_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LiveActivitiesApi#update_live_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
