=begin
#ActivitySmith API

#Send push notifications and Live Activities to your own devices via a single API key.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenapiClient
  class MetricsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update a widget metric value
    # Updates the latest value for a metric displayed in ActivitySmith widgets. Create the metric in the web app first, then update its value using the key.
    # @param key [String] Metric key configured in the web app. Lowercase letters, numbers, dots, underscores, and dashes are allowed.
    # @param metric_value_update_request [MetricValueUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MetricValueUpdateResponse]
    def update_metric_value(key, metric_value_update_request, opts = {})
      data, _status_code, _headers = update_metric_value_with_http_info(key, metric_value_update_request, opts)
      data
    end

    # Update a widget metric value
    # Updates the latest value for a metric displayed in ActivitySmith widgets. Create the metric in the web app first, then update its value using the key.
    # @param key [String] Metric key configured in the web app. Lowercase letters, numbers, dots, underscores, and dashes are allowed.
    # @param metric_value_update_request [MetricValueUpdateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MetricValueUpdateResponse, Integer, Hash)>] MetricValueUpdateResponse data, response status code and response headers
    def update_metric_value_with_http_info(key, metric_value_update_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.update_metric_value ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling MetricsApi.update_metric_value"
      end
      if @api_client.config.client_side_validation && key.to_s.length > 64
        fail ArgumentError, 'invalid value for "key" when calling MetricsApi.update_metric_value, the character length must be smaller than or equal to 64.'
      end

      if @api_client.config.client_side_validation && key.to_s.length < 1
        fail ArgumentError, 'invalid value for "key" when calling MetricsApi.update_metric_value, the character length must be great than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-z0-9][a-z0-9_.-]{0,63}$/)
      if @api_client.config.client_side_validation && key !~ pattern
        fail ArgumentError, "invalid value for 'key' when calling MetricsApi.update_metric_value, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'metric_value_update_request' is set
      if @api_client.config.client_side_validation && metric_value_update_request.nil?
        fail ArgumentError, "Missing the required parameter 'metric_value_update_request' when calling MetricsApi.update_metric_value"
      end
      # resource path
      local_var_path = '/metrics/{key}/value'.sub('{' + 'key' + '}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(metric_value_update_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MetricValueUpdateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"MetricsApi.update_metric_value",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#update_metric_value\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
